chains/*
build/*
dist/*
all_setup.sh
*/files_setup.txt
*/backend.h5
lace.egg-info/
lace/__pycache__/
lace/*/__pycache__/
notebooks/.ipynb_checkpoints/
notebooks/postprocess_PIC/.ipynb_checkpoints/
notebooks/development/.ipynb_checkpoints/
