basedir=/p1d_emulator/sim_suites/emulator_256_28082019/
skewers_label=Ns256_wM0.05
test_sim_number=50
kmax_Mpc=8
undersample_z=1
z_max=4
drop_tau_rescalings=True
drop_temp_rescalings=True
nearest_tau=True
undersample_cube=1
z_emulator=False
free_parameters=[mF,sigT_Mpc,gamma,kF_Mpc,Delta2_p,n_p]
nwalkers=50
burn_in=2000
nsteps=50000
prior_Gauss_rms=0.15
emu_cov_factor=1
emu_noise_var=1e-7
parallel=True
