basedir=/lace/emulator/sim_suites/Australia20/
skewers_label=Ns500_wM0.05
test_sim_number=central
kmax_Mpc=8
emu_type=k_bin
undersample_z=1
z_max=5
drop_tau_rescalings=True
drop_temp_rescalings=True
nearest_tau=True
undersample_cube=1
z_emulator=False
asym_kernel=True
free_parameters=[cosmomc_theta,As,ns,ombh2,omch2,ln_tau_0,ln_tau_1,ln_sigT_kms_0,ln_sigT_kms_1,ln_gamma_0,ln_gamma_1,ln_kF_0,ln_kF_1]
nwalkers=40
burn_in=2000
nsteps=500000
prior_Gauss_rms=-1
emu_cov_factor=1
emu_noise_var=1e-3
parallel=True
data_year=Chabanier2019
data_cov_factor=1
subfolder=central_sim
pivot_scalar=0.05
include_CMB=True
use_compression=0
reduced_IGM=False
