basedir=/lace/emulator/sim_suites/Australia20/
skewers_label=Ns500_wM0.05
test_sim_number=central
kmax_Mpc=8
emu_type=polyfit
undersample_z=1
z_max=5
drop_tau_rescalings=True
drop_temp_rescalings=True
nearest_tau=True
undersample_cube=1
z_emulator=False
asym_kernel=True
free_parameters=[Delta2_star,n_star,ln_tau_0]
nwalkers=32
burn_in=500
nsteps=500000
prior_Gauss_rms=-1
emu_cov_factor=1
emu_noise_var=1e-3
parallel=True
data_year=Chabanier2019
data_cov_factor=0.2
subfolder=small_test
include_CMB=False
use_compression=0
reduced_IGM=False
