sim_label=nu
kmax_Mpc=8
emu_type=polyfit
z_max=5
free_cosmo_params=[As,ns]
nwalkers=32
burn_in=500
nsteps=500000
prior_Gauss_rms=0.5
parallel=False
data_cov_label=Chabanier2019
data_cov_factor=0.2
subfolder=small_test
include_CMB=False
use_compression=0
#cosmo_fid_label='truth'
#cosmo_fid_label='default'
cosmo_fid_label='low_omch2'
